.blog__item{
    text-align: center;
}
.blog__item-image{
    width: 100%;
    height: 75%;
    border-radius:10px;
    margin-bottom:12px;
}
.blog__item-title{

}
.blog__item-link{
    text-decoration: none;
    color: #000;
}
.blog__item-link:hover{
    text-decoration: none;
}