<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page T.Travel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome-free-6.0.0-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/admin.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script defer src="../static/images/image.js"></script>
    <script>
        var quill = new Quill('#editor', {
            theme: 'snow'
        });
    </script>
</head>

<body>
    <!-- Tiêu đề -->

    <header id="header">
        <div class="grid">
            <div class="header__container">
                <ul class="header__navbar">
                    <li class="header__navbar-item">
                        <button class="header__navbar-button header__navbar-button--active js-header-button">
                            <i class="header__icon fa-solid fa-bars"></i>
                        </button>
                    </li>
                    <li class="header__navbar-item">
                        <a href="" class="header__navbar-link">
                            <h1 class="header__navbar-logo">
                                T.Travel
                            </h1>
                        </a>
                    </li>
                </ul>

                <ul class="header__navbar">

                    <li class="header__navbar-item">
                        <div class="header__navbar-user">
                            {%if nameadmin!=None%}
                                <div class="header__navbar-title">
                                    <i class="header__icon fa-solid fa-user"></i>
                                        {{nameadmin}}
                                </div>
                                <ul class="header__navbar-user-list">
                                    <li class="header__navbar-user-item">
                                        <button class="header__navbar-button js-register-button">Đăng ký</button>
                                    </li>
                                    <li class="header__navbar-user-item">
                                        <button class="header__navbar-button js-login-button">Đăng nhập</button>
                                    </li>
                                </ul>
                            {%endif%}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Phần thân trang web -->

    <div id="admin-manage">
        <div class="grid">
            <h1 class="admin-manage__title">Quản lý Tour</h1>
            <div class="admin-manage__action">
                <div class="admin-manage__select">
                    <span class="admin-manage__select-title">
                        Sắp xếp theo:
                    </span>
                    <select class="admin-manage__selection" placeholder="Sắp xếp theo tên">
                        <option value="name">Tên</option>
                        <option value="quantity">Số Tour</option>
                    </select>
                </div>
                <a href="/admintour">
                    <button class="admin-manage__action-button">
                        Thêm mới
                    </button>
                </a>
            </div>
            
            <table class="table table-striped table-inverse table-responsive text-justify">
                <thead class="thead-inverse thead-dark text-white">
                    <tr>
                        <th>Id</th>
                        <th>Khách sạn</th>
                        <th>Miêu tả</th>
                        <th>Phương tiện</th>
                        <th>Gía vé</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <from>
                    {%for t in tour%}
                    <form action="" method="POST">
                        <tr>
                            <td>{{t[0]}}</td>
                            <td>{{t[1]}}</td>
                            <td>{{t[2]}}</td>
                            <td>{{t[3]}}</td>
                            <td>{{t[4]}}</td>
                            <td>
                                <a type="submit" href="/edittour/{{t[0]}}" class="btn btn-primary btn-warning">
                                    <!-- <i class="fa-solid fa-eye"></i> -->
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a type="submit" href="admin/user/delete/{$user.id}" class="btn btn-primary btn-danger">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                </from>
                {%endfor%}
                
                </tbody>
            </table>
            <div class="admin-manage__detail">
                <h3 class="admin-manage__detail-title">Thêm mới Tour</h3>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for m in messages %}
                            <P>{{m}}</P>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form action="/edittour/{{T_id}}" method="post">
                    

                    <div class="admin-manage__editor">

                    </div>
                    
                </form>
            
            <div>
                <form action = "/edittour/{{T_id}}" method = "POST" 
                    enctype = "multipart/form-data">
                    <div class="admin-manage__info-item">
                        <span class="admin-manage__info-label">Địa điểm:</span>
                        <select class="admin-manage__info-input" placeholder="Chọn địa điểm" name="place">
                            {%for i in place%}
                                {%if i[0]==infor_tour[0][0]%}
                                <option value={{i[0]}} selected="selected">
                                    {{i[1]}}
                                </option>
                                {%endif%}
                                {%if i[0]!= infor_tour[0][0]%}
                                <option value={{i[0]}} >
                                    {{i[1]}}
                                </option>
                                {%endif%}
                            {%endfor%}
                        </select>
                    </div>
                    <div class="admin-manage__info-item">
                        <span class="admin-manage__info-label">Tên tour:</span>
                        <input type="text" class="admin-manage__info-input" placeholder="Tên tour"
                            name="nametour" value="{{infor_tour[0][2]}}"></input>
                    </div>
                    <div class="admin-manage__info-item">
                        <span class="admin-manage__info-label">Tên khách sạn:</span>
                        <input type="text" class="admin-manage__info-input" placeholder="Tên khách sạn"
                            name="namehotel" value="{{infor_tour[0][3]}}"></input>

        
                    </div>
                    <div class="admin-manage__info-item">
                                <span class="admin-manage__info-label">Phương tiện:</span>
                                <input type="text" class="admin-manage__info-input" placeholder="Nhập phương tiện"
                                    name="vehicle" value="{{infor_tour[0][4]}}"></input>
                            </div>
                            <div class="admin-manage__info-item">
                                <span class="admin-manage__info-label">Thời gian:</span>
                                <input type="text" class="admin-manage__info-input" placeholder="Nhập thời gian"
                                    name="time_tour" value="{{infor_tour[0][5]}}"></input>
                            </div>
                            <div class="admin-manage__info-item">
                                <span class="admin-manage__info-label">Giá vé:</span>
                                <input type="text" class="admin-manage__info-input" placeholder="Nhập giá vé"
                                    name="price" value="{{infor_tour[0][6]}}"></input>
                            </div>
                            <div class="admin-manage__info-item">
                                <span class="admin-manage__info-label">Lịch trình:</span>
                                <input type="text" class="admin-manage__info-input" placeholder="Lịch trình"
                                    name="schedule" value="{{infor_tour[0][7]}}"></input>
                            </div>
                            <div class="admin-manage__info-item">
                                <span class="admin-manage__info-label">Miêu tả</span>
                                <input type="text" class="admin-manage__info-input" placeholder="Miêu tả"
                                    name="describe" value="{{infor_tour[0][8]}}"></input>
                            </div>
                            
                    
                    <div class="admin-manage__info-item">
                        <span class="admin-manage__info-label">Ảnh 1</span>
                        <input type="file" class="" 
                            name="image_1" value="None" onchange="chooseFile1(this)">
                        <script>
                            function chooseFile1(fileInput) {
                                if (fileInput.files && fileInput.files[0]) {
                                    var reader = new FileReader();
                                    reader.onload = function (e) {
                                        $('#image1').attr('src', e.target.result)
                                    }
                                    reader.readAsDataURL(fileInput.files[0]);
                                }
                            }
                        </script>
                        {%if infor_tour[0][9]!=None%}
                            <img src="../static/images/{{infor_tour[0][9]}}" alt="" class="admin-manage__info-img mt-16" id="image1">
                        {%else%}
                            <img src="../static/images/noimage.jpg" alt="" class="admin-manage__info-img mt-16" id="image1">
                        {%endif%}
                    </div>
                    <div class="admin-manage__info-item">
                        <span class="admin-manage__info-label">Ảnh 2</span>
                        <input type="file" class="" 
                            name="image_2" value="None" onchange="chooseFile2(this)">
                        <script>
                            function chooseFile1(fileInput) {
                                if (fileInput.files && fileInput.files[0]) {
                                    var reader = new FileReader();
                                    reader.onload = function (e) {
                                        $('#image1').attr('src', e.target.result)
                                    }
                                    reader.readAsDataURL(fileInput.files[0]);
                                }
                            }
                        </script>
                        {%if infor_tour[0][10]!=None%}
                            <img src="../static/images/{{infor_tour[0][10]}}" alt="" class="admin-manage__info-img mt-16" id="image1">
                        {%else%}
                            <img src="../static/images/noimage.jpg" alt="" class="admin-manage__info-img mt-16" id="image1">
                        {%endif%}
                    </div>
                    <div class="admin-manage__info-item">
                        <span class="admin-manage__info-label">Ảnh 3</span>
                        <input type="file" value="None" class="" 
                            name="image_3"  onchange="chooseFile3(this)">
                        <script>
                            function chooseFile1(fileInput) {
                                if (fileInput.files && fileInput.files[0]) {
                                    var reader = new FileReader();
                                    reader.onload = function (e) {
                                        $('#image1').attr('src', e.target.result)
                                    }
                                    reader.readAsDataURL(fileInput.files[0]);
                                }
                            }
                        </script>
                        {%if infor_tour[0][11]!=None%}
                            <img src="../static/images/{{infor_tour[0][11]}}" alt="" class="admin-manage__info-img mt-16" id="image1">
                        {%else%}
                        <img src="../static/images/noimage.jpg" alt="" class="admin-manage__info-img mt-16" id="image1">
                        {%endif%}
                    </div>
                    <div class="admin-manage__info-item">
                        <span class="admin-manage__info-label">Ảnh 4</span>
                        <input type="file" class="" 
                            name="image_4" value="None" onchange="chooseFile4(this)">
                        <script>
                            function chooseFile1(fileInput) {
                                if (fileInput.files && fileInput.files[0]) {
                                    var reader = new FileReader();
                                    reader.onload = function (e) {
                                        $('#image1').attr('src', e.target.result)
                                    }
                                    reader.readAsDataURL(fileInput.files[0]);
                                }
                            }
                        </script>
                        {%if infor_tour[0][12]!=None%}
                            <img src="../static/images/{{infor_tour[0][12]}}" alt="" class="admin-manage__info-img mt-16" id="image1">
                        {%else%}
                            <img src="../static/images/noimage.jpg" alt="" class="admin-manage__info-img mt-16" id="image1">
                        {%endif%}
                    </div>
                    <div class="admin-manage__info-item">
                        <span class="admin-manage__info-label">Ảnh 5</span>
                        <input type="file" class="" 
                            name="image_5" value="None" onchange="chooseFile5(this)">
                        <script>
                            function chooseFile1(fileInput) {
                                if (fileInput.files && fileInput.files[0]) {
                                    var reader = new FileReader();
                                    reader.onload = function (e) {
                                        $('#image1').attr('src', e.target.result)
                                    }
                                    reader.readAsDataURL(fileInput.files[0]);
                                }
                            }
                        </script>
                        {%if infor_tour[0][13]!=None%}
                            <img src="../static/images/{{infor_tour[0][13]}}" alt="" class="admin-manage__info-img mt-16" id="image1">
                        {%else%}
                        <img src="../static/images/noimage.jpg" alt="" class="admin-manage__info-img mt-16" id="image1">
                        {%endif%}
                    </div>
                    <input type = "submit"/>
                </form>
            </div>
            </div>
        </div>
          
    </div>
    <!-- Thông tin màu xanh cuối trang -->
    <footer>
        <div class="footer-link__wrapper">
            <div class="footer-social-area">
                <a href="https://youtube.com" class="footer-social__icon footer-social__link">
                    <i class="fa-brands fa-facebook-square"></i>
                </a>
                <a href="" class="footer-social__icon footer-social__link">
                    <i class="fa-brands fa-google"></i>
                </a>
                <a href="" class="footer-social__icon footer-social__link">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="" class="footer-social__icon footer-social__link">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
            <div class="footer-social__support">
                <a href="" class="footer-social__link">
                    Chính sách - Bảo mật
                </a>
                <a href="" class="footer-social__link">
                    Trợ giúp
                </a>
                <a href="" class="footer-social__link">
                    Chúng tôi
                </a>
            </div>
        </div>
        <div class="footer__desc">
            Công ty TNHH T.Travel Việt Nam - Km10, Đường Nguyễn Trãi, Q.Hà Đông, Hà Nội
        </div>
        <div class="footer__copyright">
            Copyright <i class="fa-solid fa-copyright"></i> 2022 T.Travel
        </div>
    </footer>
    <!-- Thanh menu -->
    <div class="modal js-modal">
        <div class="modal__body--left header-menu-form header-menu-disabled">
            <div class="header__menu">
                <div class="header__menu-title">T.Travel</div>
                <ul class="header__menu-list">
                    <li class="header__menu-item">
                        <a href="admin" class="header__menu-link">
                            <i class="header__menu-icon fa-solid fa-house"></i>
                            <span class="header__menu-item-text">Trang chủ</span>
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="admin" class="header__menu-link">
                            <i class="header__menu-icon fa-solid fa-user"></i>
                            <span class="header__menu-item-text">Quản lý tài khoản</span>
                        </a>
                    </li>
                    <!-- <li class="header__menu-item">
                        <a href="" class="header__menu-link">
                            <i class="header__menu-icon fa-solid fa-ticket-simple"></i>
                            <span class="header__menu-item-text">Quản lý đặt tour</span>
                        </a>
                    </li> -->
                    <li class="header__menu-item">
                        <a href="/admintour" class="header__menu-link">
                            <i class="header__menu-icon fa-solid fa-location-dot"></i>
                            <span class="header__menu-item-text">Quản lý tour</span>
                        </a>
                    </li>
                    <!-- <li class="header__menu-item">
                        <a href="/adminvehicle" class="header__menu-link">
                            <i class="header__menu-icon fa-solid fa-bus-simple"></i>
                            <span class="header__menu-item-text">Quản lý phương tiện</span>
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/adminHotel" class="header__menu-link">
                            <i class="header__menu-icon fa-solid fa-house"></i>
                            <span class="header__menu-item-text">Quản lý khách sạn</span>
                        </a>
                    </li> -->
                    <li class="header__menu-item">
                        <a href="" class="header__menu-link">
                            <i class="header__menu-icon fa-solid fa-circle-question"></i>
                            <span class="header__menu-item-text">Hướng dẫn</span>
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="adminChart.html" class="header__menu-link">
                            <i class="header__menu-icon fa-solid fa-chart-area"></i>
                            <span class="header__menu-item-text">Trực quan dữ liệu</span>
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>
        
    </div>
    <script>
        const modal = document.querySelector('.js-modal');
        const menuContainer = document.querySelector('.header-menu-form');
        const menuButton = document.querySelector('.js-header-button');
        function openMenu() {
            modal.classList.add('open');
            menuContainer.classList.add('open');
        }
        function closeModal() {
            modal.classList.remove('open');
            menuContainer.classList.remove('open');
        }
        menuButton.addEventListener('click', openMenu);
        modal.addEventListener('click', closeModal);
        menuContainer.addEventListener('click', function (event) {
            event.stopPropagation();
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>