{% extends "userBase.html" %}
{% block title %}Page T.Travel{% endblock %}
{% block content %} 
    
<div id="slider" >
    <div class="grid">
        <div class="slider__search">
            <h2 class="slider__search-title">
                Tìm kiếm hành trình mới
            </h2>
            <form action="" method="post">
                <div class="searchbar">
                    <button href="userSearch.html" class="searchbar__button">
                        <i class="searchbar__icon fa-solid fa-magnifying-glass"></i>
                    </button>
                    <input type="text" class="searchbar__input" placeholder="Tìm kiếm địa điểm">
                    <input type = "file"></input>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="content content__intro">
    <div class="grid">
        <h3 class="content__intro-title">
            Tại sao bạn nên chọn T.Travel?
        </h3>
        <div class="grid__row">
            <div class="grid__column-4 content__intro-item">
                <i class="content__intro-item-icon fa-solid fa-ticket"></i>
                <h4 class="content__intro-item-title">Linh hoạt tối đa</h4>
                <p class="content__intro-item-para">Đặt chỗ ngay và thanh toán sau để bảo đảm các hoạt động của
                    bạn không bị bỏ lỡ</p>
            </div>
            <div class="grid__column-4 content__intro-item">
                <i class="content__intro-item-icon fa-solid fa-ticket"></i>
                <h4 class="content__intro-item-title">Trải nghiệm đáng nhớ</h4>
                <p class="content__intro-item-para">Tận hưởng mọi khoảng khắc bên bạn bè người thân, đồng nghiệp
                </p>
            </div>
            <div class="grid__column-4 content__intro-item">
                <i class="content__intro-item-icon fa-solid fa-ticket"></i>
                <h4 class="content__intro-item-title">Đáng tin</h4>
                <p class="content__intro-item-para">Đối tác tin cậy, có kinh nghiệm nhiều năm</p>
            </div>
            <div class="grid__column-4 content__intro-item">
                <i class="content__intro-item-icon fa-solid fa-ticket"></i>
                <h4 class="content__intro-item-title">Ưu đãi hấp dẫn</h4>
                <p class="content__intro-item-para">Combo trọn gói, giá rẻ bất ngờ. Mùa du lịch nhiều khuyến mãi
                </p>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="grid">
        <h3 class="content__title">
            Tour hấp dẫn
        </h3>
        <h4 class="content__subtitle">
            Yên tâm trải nghiệm
        </h4>
        <div class="grid__row">
            <div class="grid__column-1 forward">
                <button class="forward__button">
                    <i class="forward__icon fa-solid fa-angle-left"></i>
                </button>
            </div>
            <div class="grid__column-3-10 tour__item">
                <a href="" class="tour__item-link">
                    <img src="../static/images/landmark.jpg" alt="" class="tour__item-image">
                    <span class="tour__item-price">1.499.000 VND</span>
                    <p class="tour__item-desc">Combo du lịch, trải nghiệm đài quan sát SkyView tại Vincom Center
                        Landmark 81</p>
                </a>
            </div>
            <div class="grid__column-3-10 tour__item">
                <a href="" class="tour__item-link">
                    <img src="../static/images/landmark.jpg" alt="" class="tour__item-image">
                    <span class="tour__item-price">1.499.000 VND</span>
                    <p class="tour__item-desc">Combo du lịch, trải nghiệm đài quan sát SkyView tại Vincom Center
                        Landmark 81</p>
                </a>
            </div>
            <div class="grid__column-3-10 tour__item">
                <a href="" class="tour__item-link">
                    <img src="../static/images/landmark.jpg" alt="" class="tour__item-image">
                    <span class="tour__item-price">1.499.000 VND</span>
                    <p class="tour__item-desc">Combo du lịch, trải nghiệm đài quan sát SkyView tại Vincom Center
                        Landmark 81</p>
                </a>
            </div>
            <div class="grid__column-1 forward">
                <button class="forward__button">
                    <i class="forward__icon fa-solid fa-angle-right"></i>
                </button>
            </div>
        </div>
        <div class="grid__row">
            <a name="" id="" class="btn mt-20 location__redirect-link" href="#" role="button">
                Xem tất cả
                <i class="location__icon fa-solid fa-angle-right"></i>
            </a>
        </div>
    </div>

</div>
<div class="content">
    <div class="grid">
        <h3 class="content__title">
            Tour hiện có
        </h3>
        <h4 class="content__subtitle">
            Trải nghiệm đa dạng
        </h4>
        <div class="grid__row">
            <div class="grid__column-1 forward">
                <button class="forward__button">
                    <i class="forward__icon fa-solid fa-angle-left"></i>
                </button>
            </div>
            <div class="grid__column-3-10 tour__item">
                <a href="" class="tour__item-link">
                    <img src="../static/images/landmark.jpg" alt="" class="tour__item-image">
                    <span class="tour__item-price">1.499.000 VND</span>
                    <p class="tour__item-desc">Combo du lịch, trải nghiệm đài quan sát SkyView tại Vincom Center
                        Landmark 81</p>
                </a>
            </div>
            <div class="grid__column-3-10 tour__item">
                <a href="" class="tour__item-link">
                    <img src="../static/images/landmark.jpg" alt="" class="tour__item-image">
                    <span class="tour__item-price">1.499.000 VND</span>
                    <p class="tour__item-desc">Combo du lịch, trải nghiệm đài quan sát SkyView tại Vincom Center
                        Landmark 81</p>
                </a>
            </div>
            <div class="grid__column-3-10 tour__item">
                <a href="" class="tour__item-link">
                    <img src="../static/images/landmark.jpg" alt="" class="tour__item-image">
                    <span class="tour__item-price">1.499.000 VND</span>
                    <p class="tour__item-desc">Combo du lịch, trải nghiệm đài quan sát SkyView tại Vincom Center
                        Landmark 81</p>
                </a>
            </div>
            <div class="grid__column-1 forward">
                <button class="forward__button">
                    <i class="forward__icon fa-solid fa-angle-right"></i>
                </button>
            </div>
        </div>
        <div class="grid__row">
            <a name="" id="" class="btn mt-20 location__redirect-link" href="#" role="button">
                Xem tất cả
                <i class="location__icon fa-solid fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<div class="content">
    <div class="grid">
        <h3 class="content__title">
            Điểm đến địa phương
        </h3>
        <h4 class="content__subtitle">
            Bạn đã sẵn sàng  khám phá những địa điểm tốt nhất của chúng tôi
        </h4>
        <div class="grid__row">
            <div class="grid__column-5">
                <a href="" class="location__link">
                    <img src="../static/images/halong.jpg" alt="" class="location-img">
                    <p class="location-name">Hạ Long</p>
                </a>
            </div>
            <div class="grid__column-5">
                <a href="" class="location__link">
                    <img src="../static/images/halong.jpg" alt="" class="location-img">
                    <p class="location-name">Hạ Long</p>
                </a>
            </div>
            <div class="grid__column-5">
                <a href="" class="location__link">
                    <img src="../static/images/halong.jpg" alt="" class="location-img">
                    <p class="location-name">Hạ Long</p>
                </a>
            </div>
            <div class="grid__column-5">
                <a href="" class="location__link">
                    <img src="../static/images/halong.jpg" alt="" class="location-img">
                    <p class="location-name">Hạ Long</p>
                </a>
            </div>
            <div class="grid__column-5">
                <a href="" class="location__link">
                    <img src="../static/images/halong.jpg" alt="" class="location-img">
                    <p class="location-name">Hạ Long</p>
                </a>
            </div>
        </div>
        <div class="grid__row">
            <a name="" id="" class="btn mt-20 location__redirect-link" href="#" role="button">
                Xem tất cả điểm đến
                <i class="location__icon fa-solid fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<div class="content">
    <div class="grid">
        <div class="content__title--left">
            Điểm đến yêu thích
        </div>
        <ul class="fav-location-list">
            <li class="fav-location-item">
                <a href="" class="fav-location-link">Trải nghiệm Đà Nẵng</a>

            </li>
            <li class="fav-location-item">
                <a href="" class="fav-location-link">Trải nghiệm Đà Nẵng</a>
            </li>
            <li class="fav-location-item">
                <a href="" class="fav-location-link">Trải nghiệm Đà Nẵng</a>
            </li>
            <li class="fav-location-item">
                <a href="" class="fav-location-link">Trải nghiệm Đà Nẵng</a>
            </li>
        </ul>
        <ul class="fav-location-list">
            <li class="fav-location-item">
                <a href="" class="fav-location-link">Trải nghiệm Đà Nẵng</a>                       
            </li>
            <li class="fav-location-item">
                <a href="" class="fav-location-link">Trải nghiệm Đà Nẵng</a>
            </li>
            <li class="fav-location-item">
                <a href="" class="fav-location-link">Trải nghiệm Đà Nẵng</a>
            </li>
            <li class="fav-location-item">
                <a href="" class="fav-location-link">Trải nghiệm Đà Nẵng</a>
            </li>
        </ul>
        <ul class="fav-location-list">
            <li class="fav-location-item">
                <a href="" class="fav-location-link">Trải nghiệm Đà Nẵng</a>                       
            </li>
            <li class="fav-location-item">
                <a href="" class="fav-location-link">Trải nghiệm Đà Nẵng</a>
            </li>
            <li class="fav-location-item">
                <a href="" class="fav-location-link">Trải nghiệm Đà Nẵng</a>
            </li>
            <li class="fav-location-item">
                <a href="" class="fav-location-link">Trải nghiệm Đà Nẵng</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
      