<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border=1>
        {%for college in list%}
        <tr>
            <td>{{college[0]}}</td>
            <td>{{college[1]}}</td>
            <td>{{college[2]}}</td>
            <td>{{college[3]}}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>