<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <linkrel="shortcut icon" type="image/jpg"  href="../static/images/iconpage.jpg"/>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/auth.css">
    <!-- Bootstrap CSS -->
   
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <header id="header">
        <div class="container">
            <a href="" class="header__link">
                <h3 class="header__title">T.Travel</h3>
            </a>
        </div>
    </header>
    <section class="content mt-5">
        <div class="container">
            <div class="row">
                <div class="col-6 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Đăng nhập</h4>
                        </div>
                    </div>
                    <form action="/login" method="post" class="form__control">
                        <div class="form-group">
                            <label for="username">Tên đăng nhập</label>
                            <input type="text" name="username" id="" class="form-control" placeholder="Tên đăng nhập" aria-describedby="helpId">
                            <span id="helpId" class="text-muted">Yêu cầu tên đăng nhập</span>
                        </div>
                        <div class="form-group">
                            <label for="password">Mật khẩu</label>
                            <input type="password" name="password" id="" class="form-control" placeholder="Mật khẩu" aria-describedby="helpId">
                            <span id="helpId" class="text-muted">Yêu cầu mật khẩu</span>
                        </div>
                        <a href="" class="float-right">Quên mật khẩu?</a>
                        <div class="form__request">
                            <span class="mr-2">Bạn chưa có tài khoản?</span>
                            <a href="">Đăng kí ngay</a>
                        </div>
                        <a href="/">
                            <button type="submit" class="btn btn-primary mt-2">
                                Đăng nhập
                            </button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>