<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/auth.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <header id="header">
        <div class="container">
            <a href="" class="header__link">
                <h3 class="header__title">T.Travel</h3>
            </a>
        </div>
    </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for cat, mess in messages %}
                    {% if cat == "error" %}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert">
                        {{ mess }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% else %}
                    <div class="alert alert-success alter-dismissable fade show" role="alert">
                        {{ mess }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    <form method="POST">
        <section class="content mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-6 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Đăng kí</h4>
                            </div>
                            <form action="" method="post" class="p-3 form__control">
                                <div class="form-group">
                                    <label for="username">Tên đăng nhập</label>
                                    <input type="text" name="username" id="" class="form-control" placeholder="Tên đăng nhập" aria-describedby="helpId">
                                    <span id="helpId" class="text-muted">Yêu cầu tên đăng nhập</span>
                                </div>
                                <div class="form-group">
                                    <label for="password_user">Mật khẩu</label>
                                    <input type="password" name="password_user" id="" class="form-control" placeholder="Mật khẩu" aria-describedby="helpId">
                                    <span id="helpId" class="text-muted">Yêu cầu mật khẩu</span>
                                </div>
                                <div class="form-group">
                                    <label for="nameuser">Họ và tên</label>
                                    <input type="text" name="nameuser" id="" class="form-control" placeholder="Họ tên" aria-describedby="helpId">
                                    <span id="helpId" class="text-muted">Yêu cầu họ tên</span>
                                </div>
                                <div class="form-group">
                                    <label for="phone_number_user">SĐT</label>
                                    <input type="phone"  id="" class="form-control" name="phone_number_user" placeholder="Số điện thoại" aria-describedby="helpId">
                                    <span id="helpId" class="text-muted">Yêu cầu số điện thoại</span>
                                </div>
                                <div class="form-group">
                                    <label for="address_user">Địa chỉ nơi ở</label>
                                    <input type="text" name="address_user" id="" class="form-control" placeholder="Địa chỉ thường trú" aria-describedby="helpId">
                                    <span id="helpId" class="text-muted">Yêu cầu email</span>
                                </div>
                                <div class="form__request">
                                    <span class="mr-2">Bạn đã có tài khoản rồi?</span>
                                    <a href="login.html">Đăng nhập</a>
                                </div>
                                <button type="submit" class="btn btn-primary mt-2">
                                    Đăng kí
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>