<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome-free-6.0.0-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script defer src="../static/javascripts/a.js"></script>
</head>



<body>
    <!-- Thanh heading -->
    {% block content %} {% endblock %}
    <div class="app">
        <header id="header">
            <div class="grid">
                <div class="header__container">
                    <ul class="header__navbar">
                        <li class="header__navbar-item">
                            <button class="header__navbar-button header__navbar-button--active js-header-button">
                                <i class="header__icon fa-solid fa-bars"></i>
                            </button>
                        </li>
                        <li class="header__navbar-item">
                            <a href="" class="header__navbar-link">
                                <h1 class="header__navbar-logo">
                                    T.Travel
                                </h1>
                            </a>
                        </li>
                    </ul>
                    <ul class="header__navbar">
                        <li class="header__navbar-item">
                            <a href="" class="header__navbar-link mr-40">
                                <i class="header__icon fa-solid fa-circle-question"></i>
                                <span class="header__navbar-title">Hướng dẫn</span>
                            </a>
                        </li>
                        <li class="header__navbar-item">
                            <a href="" class="header__navbar-link mr-40">
                                <i class="header__icon fa-solid fa-circle-question"></i>
                                <span class="header__navbar-title">Đặt trước</span>
                            </a>
                        </li>
                        <li class="header__navbar-item">
                            <div class="header__navbar-user">
                                <div class="header__navbar-title">
                                    <i class="header__icon fa-solid fa-user"></i>
                                    {% if session['name_user'] %}
                                    <p>{{session['name_user']}}</p>
                                    {% else %}
                                    <p>Chưa đăng nhập</p>
                                    {% endif%}
                                </div>
                                <ul class="header__navbar-user-list">
                                    {% if session['name_user'] %}
                                    <li href="/userinfo" class="header__navbar-user-item">
                                        <a href="/userinfo" class="header__menu-link">
                                            <button class="header__navbar-button js-register-button">Thông tin</button>
                                        </a>
                                    </li>
                                    <li href ="/logout"class="header__navbar-user-item">
                                        <a href="/userlogout" class="header__menu-link">
                                            <button class="header__navbar-button js-login-button">Đăng xuất</button>
                                        </a>
                                    </li>
                                    {% else %}
                                    <li href="/userinfo" class="header__navbar-user-item">
                                        <a href="/userlogin" class="header__menu-link">
                                            <button class="header__navbar-button js-register-button">Đăng nhập</button>
                                        </a>
                                    </li>
                                    <li href ="/logout"class="header__navbar-user-item">
                                        <a href="/signup" class="header__menu-link">
                                            <button class="header__navbar-button js-login-button">Đăng ký</button>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for cat, mess in messages %}
                    {% if cat == "error" %}
                    <div class="alert alert-danger alter-dismissable fade show" role="alert">
                        {{ mess }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% else %}
                    <div class="alert alert-success alter-dismissable fade show" role="alert">
                        {{ mess }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!-- Thông tin màu xanh cuối trang -->
        <footer>
            <div class="footer-link__wrapper">
                <div class="footer-social-area">
                    <a href="https://youtube.com" class="footer-social__icon footer-social__link">
                        <i class="fa-brands fa-facebook-square"></i>
                    </a>
                    <a href="" class="footer-social__icon footer-social__link">
                        <i class="fa-brands fa-google"></i>
                    </a>
                    <a href="" class="footer-social__icon footer-social__link">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a href="" class="footer-social__icon footer-social__link">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
                <div class="footer-social__support">
                    <a href="" class="footer-social__link">
                        Chính sách - Bảo mật
                    </a>
                    <a href="" class="footer-social__link">
                        Trợ giúp
                    </a>
                    <a href="" class="footer-social__link">
                        Chúng tôi
                    </a>
                </div>
            </div>
            <div class="footer__desc">
                Công ty TNHH T.Travel Việt Nam - Km10, Đường Nguyễn Trãi, Q.Hà Đông, Hà Nội
            </div>
            <div class="footer__copyright">
                Copyright <i class="fa-solid fa-copyright"></i> 2022 T.Travel
            </div>
        </footer>
    </div>
    <!-- Giao diện đăng nhập - đăng ký -->
    <div class="modal js-modal">
        <div class="modal__body--left header-menu-form">
            <div class="header__menu">
                <div class="header__menu-title">T.Travel</div>
                <ul class="header__menu-list">
                    <li class="header__menu-item">
                        <a href="/userhome" class="header__menu-link">
                            <i class="header__menu-icon fa-solid fa-house"></i>
                            <span class="header__menu-item-text">Trang chủ</span>
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/userinfo" class="header__menu-link">
                            <i class="header__menu-icon fa-solid fa-user"></i>
                            <span class="header__menu-item-text">Thông tin</span>
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/tour" class="header__menu-link">
                            <i class="header__menu-icon fa-solid fa-location-dot"></i>
                            <span class="header__menu-item-text">Tour</span>
                        </a>
                    </li>
                   
                    
                </ul>
            </div>
        </div>
    </div>
    <script>
        const modal = document.querySelector('.js-modal');
        const menuContainer = document.querySelector('.header-menu-form');
        const menuButton = document.querySelector('.js-header-button');
        function openMenu() {
            modal.classList.add('open');
            menuContainer.classList.add('open');
        }
        function closeModal() {
            modal.classList.remove('open');
            menuContainer.classList.remove('open');
        }
        menuButton.addEventListener('click', openMenu);
        modal.addEventListener('click', closeModal);
        menuContainer.addEventListener('click', function (event) {
            event.stopPropagation();
        });
    </script>

</body>

</html>