<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page T.Travel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome-free-6.0.0-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/userManageTour.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="app">
        <header id="header">
            <div class="grid">
                <div class="header__container">
                    <ul class="header__navbar">
                        <li class="header__navbar-item">
                            <button class="header__navbar-button header__navbar-button--active js-header-button">
                                <i class="header__icon fa-solid fa-bars"></i>
                            </button>
                        </li>
                        <li class="header__navbar-item">
                            <a href="" class="header__navbar-link">
                                <h1 class="header__navbar-logo">
                                    T.Travel
                                </h1>
                            </a>
                        </li>
                    </ul>

                    <ul class="header__navbar">
                        <li class="header__navbar-item">
                            <a href="" class="header__navbar-link mr-40">
                                <i class="header__icon fa-solid fa-circle-question"></i>
                                <span class="header__navbar-title">Hướng dẫn</span>
                            </a>
                        </li>
                      
                        <li class="header__navbar-item">
                            <div class="header__navbar-user">
                                <div class="header__navbar-title">
                                    <i class="header__icon fa-solid fa-user"></i>
                                    {% if session['name_user'] %}
                                    <p>{{session['name_user']}}</p>
                                    {% else %}
                                    <p>Chưa đăng nhập</p>
                                    {% endif%}
                                </div>
                                <ul class="header__navbar-user-list">
                                    <li href="/userinfo" class="header__navbar-user-item">
                                        <a href="/userinfo" class="header__menu-link">
                                            <button class="header__navbar-button js-register-button">Thông tin</button>
                                        </a>
                                    </li>
                                    <li class="header__navbar-user-item">
                                        <a href="/userlogout" class="header__menu-link">
                                            <button class="header__navbar-button js-login-button">Đăng xuất</button>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="manage-info">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column-4 avatar__container">
                        <div class="avatar">
                            <img src="../static/images/avatar2.png" alt="" class="avatar__img"> 
                        </div>
                        <button class="manage-info__button js-info-button">Chỉnh sửa</button>
                        <button class="manage-info__button js-password-button">Đổi mật khẩu</button>
                    </div>
                    <div class="grid__column-8">
                        <div class="manage-info__item">
                            <span class="manage-info__label">Họ tên:  {{user[0][3]}}</span>
                            <span class="manage-info__content"></span>
                        </div>
                        <div class="manage-info__item">
                            <span class="manage-info__label">Tên đăng nhập:  {{user[0][1]}}</span>
                            <span class="manage-info__content"></span>
                        </div>
                        <div class="manage-info__item">
                            <span class="manage-info__label">SĐT:  {{user[0][4]}}</span>
                            <span class="manage-info__content"></span>
                        </div>
                        <div class="manage-info__item">
                            <span class="manage-info__label">Địa chỉ:  {{user[0][5]}}</span>
                            <span class="manage-info__content"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="manage-table">
            <div class="grid">
                <div class="grid__row">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Tên tour</th>
                                <th>Thời gian đặt tour</th>
                                <th>Số người</th>
                                <th>Loại phương tiện</th>
                                <th>Khách sạn</th>
                                <th>Tổng tiền(VND)</th>
                                <th>Trạng thái</th>
                                <th>Hủy đặt tour</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for b in booking%}
                            <form action="/usercanceltour/{{b[2]}}" method="POST">

                                <tr>
                                    <td>{{b[4]}}</td>
                                    <td>{{b[6]}}</td>
                                    <td>{{b[7]}}</td>
                                    <td>{{b[8]}}</td>
                                    <td>{{b[9]}}</td>
                                    <td>{{b[5]*b[7]}}</td>
                                    <td>
                                        <div class="admin-manage__info-item">
                                            
                                            {%if b[10] == 0%}
                                                Chưa được xác nhận
                                            {%endif%}
                                            {%if b[10] == 1%}
                                                Đã được xác nhận
                                            {%endif%}
                                            {%if b[10]==2%}
                                                Đã hủy
                                            {%endif%}
                                
                                        </div>
                                    </td>
                                    <td>

                                        {%if b[10] == 0%}
                                   
                                                <a href="/usercanceltour/{{b[2]}}" class="tour__item-link">
                                                    {% print(b[2]) %}
                                                    <button>
                                                        Hủy
                                                    </button>
                                                </a>
                                            
                                        {%endif%}

                                    </td>
                                </tr>
                            </from>
                            {%endfor%}
                            <!-- <tr>
                                <td>Du lịch sapa</td>
                                <td>30/03/2022</td>
                                <td>4</td>
                                <td>Oto</td>
                                <td>Mimosa hotel sapa</td>
                                <td>6.000.000</td>
                                <td>
                                    <a href="" class="btn btn-danger">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        <footer>
            <div class="footer-link__wrapper">
                <div class="footer-social-area">
                    <a href="https://youtube.com" class="footer-social__icon footer-social__link">
                        <i class="fa-brands fa-facebook-square"></i>
                    </a>
                    <a href="" class="footer-social__icon footer-social__link">
                        <i class="fa-brands fa-google"></i>
                    </a>
                    <a href="" class="footer-social__icon footer-social__link">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a href="" class="footer-social__icon footer-social__link">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
                <div class="footer-social__support">
                    <a href="" class="footer-social__link">
                        Chính sách - Bảo mật
                    </a>
                    <a href="" class="footer-social__link">
                        Trợ giúp
                    </a>
                    <a href="" class="footer-social__link">
                        Chúng tôi
                    </a>
                </div>
            </div>
            <div class="footer__desc">
                Công ty TNHH T.Travel Việt Nam - Km10, Đường Nguyễn Trãi, Q.Hà Đông, Hà Nội
            </div>
            <div class="footer__copyright">
                Copyright <i class="fa-solid fa-copyright"></i> 2022 T.Travel
            </div>
        </footer>
    </div>
    <!-- Giao diện đăng nhập - đăng ký -->
    <div class="modal js-modal">
        <div class="modal__body">
            <div class="manage__form js-info-form">
                <form action="/userchangeinfo" method="POST">
                    <div class="form__item">
                        <span class="form__label">Họ tên</span>
                        <input type="text" name="name_user" value="{{user[0][3]}}" class="form__input">
                    </div>
                    <div class="form__item">
                        <span class="form__label">Tên đăng nhập</span>
                        <input type="text" name="user_name" value="{{user[0][1]}}" disabled class="form__input">
                    </div>
                    <div class="form__item">
                        <span class="form__label">SĐT</span>
                        <input type="text" name="phone_number" value="{{user[0][5]}}" class="form__input">
                    </div>
                    <div class="form__item">
                        <span class="form__label">Địa chỉ</span>
                        <input type="text" name="user_address" value="{{user[0][4]}}" class="form__input">
                    </div>
                    <div class="form__buttons">
                            <button type="submit" class="btn form__button">Lưu</button>
                            <a href="" class="btn form__button">Thoát</a>
                    </div>
                </form>
            </div>
            <div class="manage__form js-password-form">
                <form action="" method="post">
                    <div class="form__item">
                        <span class="form__label">Mật khẩu hiện tại</span>
                        <input type="password" class="form__input">
                    </div>
                    <div class="form__item">
                        <span class="form__label">Mật khẩu mới</span>
                        <input type="password" class="form__input">
                    </div>
                    <div class="form__item">
                        <span class="form__label">Nhập lại mật khẩu</span>
                        <input type="password" class="form__input">
                    </div>
                    <div class="form__buttons">
                        <button class="btn form__button">Lưu</button>
                        <a href="" class="btn form__button">Thoát</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal__body--left header-menu-form header-menu-disabled">
            <div class="header__menu">
                <div class="header__menu-title">T.Travel</div>
                <ul class="header__menu-list">
                    <li class="header__menu-item">
                        <a href="/userhome" class="header__menu-link">
                            <i class="header__menu-icon fa-solid fa-house"></i>
                            <span class="header__menu-item-text">Trang chủ</span>
                        </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="/userinfo" class="header__menu-link">
                            <i class="header__menu-icon fa-solid fa-user"></i>
                            <span class="header__menu-item-text">Thông tin</span>
                        </a>
                    </li>
                    
                    <li class="header__menu-item">
                        <a href="/tour" class="header__menu-link">
                            <i class="header__menu-icon fa-solid fa-location-dot"></i>
                            <span class="header__menu-item-text">Tour</span>
                        </a>
                    </li>
                    
                    <li class="header__menu-item">
                        <a href="" class="header__menu-link">
                            <i class="header__menu-icon fa-solid fa-circle-question"></i>
                            <span class="header__menu-item-text">Hướng dẫn</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        const modal = document.querySelector('.js-modal');
        const infoContainer = document.querySelector('.js-info-form');
        const passwordContainer = document.querySelector('.js-password-form');
        const menuContainer = document.querySelector('.header-menu-form');
        const infoButton = document.querySelector('.js-info-button');
        const passwordButton = document.querySelector('.js-password-button');
        const menuButton = document.querySelector('.js-header-button');
        function openMenu() {
            modal.classList.add('open');
            menuContainer.classList.add('open');
        }
        function openInfo() {
            modal.classList.add('open');
            infoContainer.classList.add('open');
        }
        function openPassword() {
            modal.classList.add('open');
            passwordContainer.classList.add('open');
        }
        function closeModal() {
            modal.classList.remove('open');
            infoContainer.classList.remove('open');
            passwordContainer.classList.remove('open');
            menuContainer.classList.remove('open');
        }

        infoButton.addEventListener('click', openInfo);
        passwordButton.addEventListener('click', openPassword);
        menuButton.addEventListener('click', openMenu);
        modal.addEventListener('click', closeModal);
        infoContainer.addEventListener('click', function (event) {
            event.stopPropagation();
        });
        passwordContainer.addEventListener('click', function (event) {
            event.stopPropagation();
        });
        menuContainer.addEventListener('click',function(event){
            event.stopPropagation();
        });
    </script>

</body>

</html>